/PropertiesManager/build/
/PropertiesManager/dist/
/PropertiesManager/nbproject/private/
/MetroMapMaker/build/
/MetroMapMaker/nbproject/private/
/MetroMapMaker/dist/
/DesktopJavaFramework/nbproject/private/
/DesktopJavaFramework/dist/
/DesktopJavaFramework/build/